<h2>Ninja Listing</h2>

<form id="filter">
	<label>Filter ninjas by name</label>
	<input [(ngModel)]="term" type="text" name="term">
</form>

<ul *ngIf="ninjas.length; else noNinjas" id="ninja-listing">
	<li *ngFor="let ninja of ninjas | filter: term">
		<div class="single-ninja">
			<span [ngStyle]="{background: ninja.belt, color: 'white'}">{{ ninja.belt }} belt</span>

			<h3>{{ ninja.name }}</h3>
		</div>
	</li>
</ul>

<ng-template #noNinjas>
	<p>Couldn't fetch ninjas</p>
</ng-template>

<button (click)="logIt()">Log me</button>
